{% extends 'web/base.html' %}

{% block content %}
<hr />
{% for article in object_list %}
<div class="card mb-3">
	<div class="card-body">
		<h5 class="card-title"><a href="{{ article.original_url }}">{{ article.title }}</a></h5>
		<ul>
			<li>{{ article.bp1 }}</li>
			<li>{{ article.bp2 }}</li>
			<li>{{ article.bp3 }}</li>
			<li>{{ article.bp4 }}</li>
			<li>{{ article.bp5 }}</li>
		</ul>
		<div class="text-secondary float-right">{{ article.insert_tsd|date:'d.m.Y' }}</div>
	</div>
</div>
{% endfor %}
{% endblock %}
