{% extends 'web/base.html' %}

{% block content %}
<div class="mb-3">
	<a class="btn btn-primary" href="{% url 'web:index' %}" role="button">All</a>
	{% for origin in origins %}
	<a class="btn btn-primary" href="{% url 'web:news_by_origin' origin=origin.0 %}" role="button">{{ origin.1 }}</a>
	{% endfor %}
</div>
{% for article in object_list %}
<div class="card mb-3">
	<div class="card-header">
		<a href="{{ article.original_url }}" target="blank_">{{ article.title }}</a>
		<div class="text-secondary float-right">{{ article.get_origin_display }} - {{ article.insert_tsd|date:'d.m.Y' }}
		</div>
	</div>
	<div class="card-body">
		<ul>
			<li>{{ article.bp1 }}</li>
			<li>{{ article.bp2 }}</li>
			<li>{{ article.bp3 }}</li>
			<li>{{ article.bp4 }}</li>
			<li>{{ article.bp5 }}</li>
		</ul>
	</div>
</div>
{% endfor %}
{% if is_paginated %}
<nav class="float-right">
	<ul class="pagination">
		<li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
			<a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Previous</a>
		</li>
		{% for i in paginator.page_range %}
			<li class="page-item{% if page_obj.number == i %} active{% endif %}">
				<a class="page-link" href="?page={{ i }}">{{ i }}</a>
			</li>
		{% endfor %}
		<li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
			<a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Next</a>
		</li>
	</ul>
</nav>
{% endif %}
{% endblock %}